[alias]
    b = branch
    co = checkout
    grpe = grep
    brnach = branch
    checkotu = checkout
    recent = for-each-ref --sort=-committerdate refs/heads/ --format='%(committerdate:iso) %(refname:short)'
    untracked = ls-files --others --exclude-standard
