[alias]
    b = branch
    s = status
    pr = pull-request
    co = checkout
    cob = checkout -b
    grpe = grep
    brnach = branch
    checkotu = checkout
    recent = for-each-ref --sort=-committerdate refs/heads/ --format='%(committerdate:iso) %(refname:short)'
    untracked = ls-files --others --exclude-standard
